{{#section-a}}
Section A begins.
  {{#section-b}}
  Section B begins.
    {{#section-c}}
    And this is the C section.
    {{/section-c}}
  Section B ends.
  {{/section-b}}
Section A ends.
{{/section-a}}
